.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#coming-soon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  padding: 0;
  list-style: none;
}

.cover {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.cover:hover {
  transform: scale(1.05);
}


.cover img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}
footer{
  background-color: #2f2f2f;
  color: #ccc;
  text-align: center;
  padding: 40px 20px;
  height: 300px;
  overflow: hidden;

}

#logo-section figure {
  margin: 0;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

#logo-section figure img {
  max-width: 100%;
  max-height: 150px;
  height: auto;
}

#logo-section p {
  max-width: 500px;
  margin: 15px auto;
  font-size: 14px;
  color: #999;
}

#footer-links {
  margin: 20px 0;
}

#footer-links .downpart {
 list-style: none;
 padding: 0;
}

#footer-links .downpart li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

#footer-links .downpart li{
  display: inline;
  margin: 0 10px;
}

#footer-social {
  margin-top: 20px;
}

#footer-social a {
  color: #fff;
  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
}

#footer-social a:hover {
  color: #cba792
}

