body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
}
.hero {
  position: relative;
  text-align: center;
  padding: 50px 20px;
  height: 500px; /* Adjust height as needed */
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-content {
  position: relative;
  z-index: 1;
  color: #fff;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Add a semi-transparent background for better readability */
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  margin: 10px 0;
}

.hero button {
  padding: 10px 20px;
  background-color: #444;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.rooms {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.room,
.new-room {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}

.room img {
  width: 100%;
  border-radius: 10px;
}
